node_modules
!node_modules/
node_modules/*
!node_modules/@xmldom/
!node_modules/@xmldom/xmldom/
!node_modules/argparse/
!node_modules/base64-js/
!node_modules/bluebird/
!node_modules/dingbat-to-unicode/
!node_modules/jszip/
!node_modules/lop/
!node_modules/mammoth/
!node_modules/node-ensure/
!node_modules/path-is-absolute/
!node_modules/pdf-parse/
!node_modules/underscore/
!node_modules/xmlbuilder/
.next
!.next/
.next/*
!.next/standalone/
!.next/standalone/**
!.next/static/
!.next/static/**
.git
.venv
**/.venv
**/__pycache__
.env
storage/*
!.gitkeep
npm-debug.log*
